<% if false %>
<li class="clearfix">
    <div class="message-data cont-<%= message.user_id %>">
        <span class="message-data-time">10:10 AM, Today</span>
    </div>
    <div class="message other-message msg-<%= message.user_id %>"> 
        <%= message.user.username%> : <%= message.body %> 
    </div>
</li>
<% end %>

<div class="message mb-3 <%= 'my-msg' if message.user == current_user %>">
  <div class="content-container">
    <div class="content">
    <%= message.body %>  <br>
    </div>
    <div class="author">
      <%= message.user.username%> : <%= message.created_at %>
    </div>
  </div>
</div>
    
    
