<h1> Here is login page </h1>

<%= form_with(scope: :session, url: login_path) do |form|%>
    <div>
        <%= form.label :username%><br>
        <%= form.text_field :username%>
    </div>

    <div>
        <%= form.label :email%><br>
        <%= form.email_field :email%>
    </div>

    <div>
        <%= form.label :password%><br>
        <%= form.password_field :password%>
    </div>

    <br/>
    <div>
        <%= form.submit "Log In"  %>
    </div>
<% end %>