<% if forum.errors.any? %>
  <div class="container alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">The following errors prevented the forum from being created</h4>
    <ul>
      <% forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<%= form_with model: forum do |form|%>
    <div class="registration-form container-form">
        <form>
            <div class="forum-icon">
            </div>
            <div class="form-group">
                <%= form.text_field :topic, class:"form-control item", id:"username", placeholder:"Forum Topic"%>
            </div>
            <div class="form-group">
                <%= form.text_field :description, class:"form-control item", id:"username", placeholder:"Forum Description"%>
            </div>
            <div class="form-group">
                <%= form.submit "Create Forum", class:"btn btn-block create-account"%>
                <%= link_to "Cancel", forums_path, class:"text-white btn btn-block create-account" %>
            </div>
        </form>
    </div>
<% end %>
        


