<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<div class="container">
<div class="main-body p-0">
    <div class="inner-wrapper">
        <!-- Inner sidebar -->
        <div class="inner-sidebar">
            <!-- Inner sidebar header -->
            <div class="inner-sidebar-header justify-content-center">
                <%= link_to "Create New Forum", new_forum_path, class: "btn btn-primary has-icon btn-block"%>
            </div>
            <!-- /Inner sidebar header -->

            <!-- Inner sidebar body -->
            <div class="inner-sidebar-body p-0">
                <div class="p-3 h-100" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: -16px;">
                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                    <div class="simplebar-content" style="padding: 16px;">
                                        <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                            <%= link_to "All", forums_path(category: "All"), class:"nav-link nav-link-faded has-icon"  %>
                                            <% Category.all.each do |category|%>
                                                <%= link_to category.category, forums_path(category: category.category), class:"nav-link nav-link-faded has-icon"  %>
                                            <% end %>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
                </div>
            </div>
            <!-- /Inner sidebar body -->
        </div>
        <!-- /Inner sidebar -->

        <!-- Inner main -->
        <div class="inner-main">
            <!-- Inner main header -->
            <div class="inner-main-header">
                <!-- Inner sidebar header -->
              <div class="inner-sidebar-header justify-content-center", id= "forum-inner">
                  <%= link_to "Create New Forum", new_forum_path, class: "btn btn-primary has-icon btn-block"%>
              </div>

                <span class="input-icon input-icon-sm ml-auto w-auto">
                    <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search forum" />
                </span>
            </div>
            <!-- /Inner main header -->

            <!-- Inner main body -->

            <!-- Forum List -->
            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
              <% @forums.each do |forum| %>
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="media forum-item">
                            <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                            <div class="media-body">
                                <h6><%=link_to forum.topic.capitalize, forum_path(forum), class: "link-black"%></h6>
                                <% if forum.categories.any? %>
                                    <% forum.categories.each do |category| %>
                                        <h4 class="badge badge-success"><%= category.category %></h4>
                                    <% end %>
                                <% end %>
                                <p class="text-secondary">
                                    <%= truncate(forum.description, length:100)%>
                                </p>
                                <span class="text-secondary font-weight-bold">Created <%= time_ago_in_words(forum.created_at) %> ago,
                                edited <%= time_ago_in_words(forum.updated_at) %> ago</span></p>
                            </div>
                            <div class="align-self-center">
                                <%= link_to "Show", forum_path(forum), class:"btn btn-success font-weight-bold"%>
                                <% if forum.user == current_user || (logged_in? && current_user.admin?) %>
                                  <%= link_to "Edit", edit_forum_path(forum), class:"btn btn-primary font-weight-bold", id:"phone-hidden"%>
                                  <%= link_to "Delete", forum_path(forum), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger font-weight-bold", id:"phone-hidden"%>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>
</div>