<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-3 border-right">
    <%= render 'form', chat: Chat.new %>
      <% @chats.each do |chat| %>
        <%= link_to chat do%>
        <%= chat.name %>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
          <td><%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div class="col-9">
    <% if @chat.present? %>
    <div class="chat-room">
      <h2>Chat <%= @chat.id %> : <%= @chat.name %></h2> 
      <hr>
      <div class="chat-box">
        <div class="message">
          <% @chat.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>

        <div class="chat-send">
          <%= render 'messages/form', message: Message.new, chat: @chat%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>