<% if work.errors.any? %>
  <div class="container alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">The following errors prevented the work from being created</h4>
    <ul>
      <% work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<%= form_with model: work do |form|%>
    <div class="registration-form container-form">
        <form>
            <div class="todolist-icon">
            </div>
            <div class="form-group">
                <%= form.label :work%>
                <%= form.text_field :work, class:"form-control item", id:"username", placeholder:"Work"%>
            </div>
            <div class="form-group">
                <label class="">Priority</label>
                <div class="">
                <%= form.select :priority,
                [["High", "High"], ["Medium","Medium"], ["Low", "Low"]],
                {},  {class:'form-control'} %><br>
                </div>
            </div>

              <div>
                  <%= form.label :status%><br>
                  <%= form.select :status,
                  [["Pending", "Pending"], ["In-progress","In-progress"], ["Done", "Done"]], {selected: "In-progress"},  {class:'form-control'} %><br>
              </div>

              <div>
                <%= form.label :Day%><br>
                <%= form.select :day,
                [["Monday", "Mon"], ["Tuesday","Tue"], ["Wednesday", "Wed"], ["Thursday", "Thurs"] , ["Friday", "Fri"], ["Saturday", "Sat"], ["Sunday", "Sun"]], {},  {class:'form-control'} %><br>
              </div>
              
              <div>
                  <%= form.label :start%><br>
                  <%= form.time_select :starttime,{minute_step: 5, default: {hour: "8", min: "0"}},  {class:'form-control-time'} %>
              </div>

              <div>
                  <%= form.label :end%><br>
                  <%= form.time_select :endtime, {minute_step: 5, default: {hour: "9", min: "0"}},  {class:'form-control-time'} %>
              </div>
          
            
              <div class="form-group">
                  <%= form.submit "Create Task", class:"btn btn-block create-account"%>
                  <%= link_to "Cancel", todolists_path, class:"text-white btn btn-block create-account" %>
              </div>
        </form>
    </div>
<% end %>