<!DOCTYPE html>
<html>
  <head>
    <title>UniPlan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      <%= ".msg-#{current_user&.id}" %> {
      background-color: #e8f1f3 !important;
      padding: 10px;
      float: right;
      }
      <%= ".cont-#{current_user&.id}" %> {
      text-align: right;
      }
   </style>
  </head>

  <body>
    <%= render 'home/header'%>
    <%= render 'home/flash' %>
    <%= yield %>
  </body>
</html>
